<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{% block title %}Karpeles &amp; Associates: Regain Control of Your Finances{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="google-site-verification" content="Tx7elsmyr5jFpU0qJm_xwH7QxgXvqjYL8SiQRnLo5SI" />
  {% block css %}

  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/base.css" />
  <link rel="icon" type="image/png" href="/site_media/images/favicon.png" />
  {% endblock %}
  {% block section_css %}{% endblock %}
  {% block page_css %}{% endblock %}
  
  <script type="text/javascript" src="/site_media/scripts/jquery-1.2.3.min.js"></script>
  <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  
</head>
<body>
  <div class="container_16">

    <div id="header" class="grid_16 alpha">
      <h1>Karpeles &amp; Associates</h1>
      <h2>Regain Control of Your Finances</h2>
      <h2>Free Consultation</h2>
      <p>T: 323.782.1344</p>
      <p>F: 323.782.1975</p>
      <p><a href="mailto:ryan@karpeleslaw.com">ryan@karpeleslaw.com</a></p>
    </div>
    
    <div class="grid_16 alpha" id="nav_1">
<a href="http://www.karpelesbankruptcy.com/"><img src="/site_media/images/home.jpg" alt="home" id="home_link" /></a>
<a href="http://www.karpelesbankruptcy.com/about_bankruptcy/"><img src="/site_media/images/about_bankruptcy.jpg" id="bankruptcy_link" alt="about bankruptcy" /></a>
<a href="/"><img src="/site_media/images/loan_modifications.jpg" id="loan_link" alt="loan modifications" /></a>
<a href="http://www.karpelesbankruptcy.com/about/"><img src="/site_media/images/about.jpg" alt="about" id="about_link" /></a>
<a href="http://www.karpelesbankruptcy.com/creditors_rights/"><img src="/site_media/images/creditors_rights.jpg" alt="creditor's rights" id="resources_link" /></a>
<a href="http://www.karpelesbankruptcy.com/contact/"><img src="/site_media/images/contact.jpg" alt="contact" id="contact_link" /></a>
    </div>


    <div id="page" class="grid_16 alpha">

      <div class="grid_4 alpha">
	<div id="nav_2">
	  <p>More Information On:</p>
	  <p><a href="http://www.karpelesbankruptcy.com/chapter_7/">Chapter 7</a></p>
	  <p><a href="http://www.karpelesbankruptcy.com/chapter_11/">Chapter 11</a></p>
	  <p><a href="http://www.karpelesbankruptcy.com/chapter_13/">Chapter 13</a></p>
	</div>
	<div id="save_house">
	  <img src="/site_media/images/house.jpg" alt="Save Your House" />
	  <p>Save Your House</p>
	</div>
      </div>

      <div class="grid_8" id="content">
	{% block content %}
	This is the base content
	{% endblock %}
      </div>

      <div class="grid_4 omega">
      <div id="contact_bar">
	<h3>Call Now</h3>
	<h1>(323)782-1344</h1>
	<p><a href="mailto:ryan@karpeleslaw.com">ryan@karpeleslaw.com</a></p>
	<h3>Free Consultation</h3>
	</div>

	<div id="save_car">
	  <img src="/site_media/images/car.jpg" alt="Save Your Car" />
	  <p>Save Your Car</p>
	</div>

      </div>

    </div>

    <div id="footer" class="grid_16 alpha">

      <div id="footer_left" class="grid_8 alpha">
	<p><a href="/site_map/">Site Map</a></p>
	<p><a href="/disclaimer/">Disclaimer</a></p>
	<p>&copy; 2010 by Karpeles &amp; Associates.  All Rights Reserved.</p>
      </div>

      <div id="footer_right" class="grid_8 omega">
	<p>T: 323.782.1344</p>
	<p>F: 323.782.1975</p>
	<p><a href="mailto:ryan@karpeleslaw.com">ryan@karpeleslaw.com</a></p>
	<p>8383 Wilshire Blvd. Suite 346</p>
	<p>Beverly Hills, CA 90211</p>
      </div>

    </div>



  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-88241-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>

</html>
