{% extends "base.html" %}

{% block content %}
<div id="site_map" class="grid_6 prefix_1">
<h1>Site Map</h1>
<ul>
<li><a href="/about_bankruptcy/">About Bankruptcy</a></li>
<li><a href="/about/">About Karpeles &amp; Associates</a></li>
<li><a href="/chapter_7/">Chapter 7</a></li>
<li><a href="/chapter_11/">Chapter 11 Business Reoranizations</a></li>
<li><a href="/chapter_13/">Chapter 13 Wage Earner's Plans</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/creditors_rights/">Creditor's Rights</a></li>
<li><a href="/disclaimer/">Disclaimer</a></li>
<li><a href="/">Home</a></li>
<li><a href="/loan_modifications/">Loan Modifications</a></li>
</ul>
</div>
{% endblock %}
